# Copy this file to android/keystore.properties and fill in local secrets.
# Do not commit android/keystore.properties or the keystore file.
#
# Recommended upload keystore location:
# C:/Users/you/.keystores/e8-studio-upload.jks

storeFile=C:/Users/you/.keystores/e8-studio-upload.jks
storePassword=REPLACE_WITH_STORE_PASSWORD
keyAlias=e8-studio-upload
keyPassword=REPLACE_WITH_KEY_PASSWORD
